* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

body {
  overflow: hidden;
  margin: 10px;
}

#nav-bar {
  margin: 20px 0;
}

input[type="file"] {
  display: none;
}

#refresh {
  background: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
}

#section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.canvas-container {
  position: absolute !important;
  width: 100% !important;
}

.lower-canvas,
.upper-canvas {
  width: 100% !important;
}
